/* RESET */
*, *::before, *::after {
  box-sizing: border-box; -webkit-box-sizing: border-box;
  outline: 0; margin: 0; padding: 0;
  scroll-behavior: smooth;
}
html {
  overflow-x: clip;
  font-size: 62.5%;
}
body {
  padding: 0;
  min-height: 100dvh;
  line-height: 1.32;
  font-size: 1.6rem;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li,
figure, figcaption, div, blockquote, dl, dd, main, section,
article, footer, header, pre, code { margin: 0; padding: 0; }
ul[class], ol[class], ol, ul { list-style: none; }
a:not([class]) { -webkit-text-decoration-skip: ink; text-decoration-skip-ink: auto; }
a { text-decoration: none; display: block; }
img, picture, video, canvas, svg { max-width: 100%; display: block; }
span { display: inline; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
input, button, textarea, select { font: inherit; padding: 0; border: none; }
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;   scroll-behavior: auto !important;
  }
  ::view-transition-group(*), ::view-transition-old(*), ::view-transition-new(*) {
    animation: none !important;
  }
}

/* COLOR THEME */
:root {
  --hs-surface: 224deg, 16%;
  --hs-aux:     248deg, 20%;
  --hs-mark:    296deg, 80%;
  --hs-comment: 136deg, 16%;
  --hs-active:  208deg, 32%;
  --hs-effect:  184deg, 80%;
  --hs-info:    232deg, 96%;
  --hs-success: 104deg,  80%;
  --hs-warning: 28deg,  96%;
  --hs-error:   8deg,   96%;
  --hs-alert:   56deg,  88%;
  --hs-focus:   320deg, 96%;
  --hs-main:    272deg, 64%;
  --hs-second:  160deg, 64%;
  --hs-detail:  44deg,  100%;
  --hs-default: 0deg,   0%;

  --l-r-xf: 5%;       --l-r-xe: 7.8125%;  --l-r-xd: 10.625%;  --l-r-xc: 13.4375%;
  --l-r-xb: 16.25%;   --l-r-xa: 19.0625%; --l-r-x9: 21.875%;  --l-r-x8: 24.6875%;
  --l-r-x7: 27.5%;    --l-r-x6: 30.3125%; --l-r-x5: 33.125%;  --l-r-x4: 35.9375%;
  --l-r-x3: 38.75%;   --l-r-x2: 41.5625%; --l-r-x1: 44.375%;  --l-r-x0: 47.1875%;
  --l-r-00: 50%;
  --l-r-y0: 52.8125%; --l-r-y1: 55.625%;  --l-r-y2: 58.4375%; --l-r-y3: 61.25%;
  --l-r-y4: 64.0625%; --l-r-y5: 66.875%;  --l-r-y6: 69.6875%; --l-r-y7: 72.5%;
  --l-r-y8: 75.3125%; --l-r-y9: 78.125%;  --l-r-ya: 80.9375%; --l-r-yb: 83.75%;
  --l-r-yc: 86.5625%; --l-r-yd: 89.375%;  --l-r-ye: 92.1875%; --l-r-yf: 95%;
}
[theme="light"] {
  --l-xf: 5%;         --l-xe: 7.8125%;    --l-xd: 10.625%;    --l-xc: 13.4375%;
  --l-xb: 16.25%;     --l-xa: 19.0625%;   --l-x9: 21.875%;    --l-x8: 24.6875%;
  --l-x7: 27.5%;      --l-x6: 30.3125%;   --l-x5: 33.125%;    --l-x4: 35.9375%;
  --l-x3: 38.75%;     --l-x2: 41.5625%;   --l-x1: 44.375%;    --l-x0: 47.1875%;
  --l-00: 50%;
  --l-y0: 52.8125%;   --l-y1: 55.625%;    --l-y2: 58.4375%;   --l-y3: 61.25%;
  --l-y4: 64.0625%;   --l-y5: 66.875%;    --l-y6: 69.6875%;   --l-y7: 72.5%;
  --l-y8: 75.3125%;   --l-y9: 78.125%;    --l-ya: 80.9375%;   --l-yb: 83.75%;
  --l-yc: 86.5625%;   --l-yd: 89.375%;    --l-ye: 92.1875%;   --l-yf: 95%;
}
[theme="dark"] {
  --l-yf: 5%;         --l-ye: 7.8125%;    --l-yd: 10.625%;    --l-yc: 13.4375%;
  --l-yb: 16.25%;     --l-ya: 19.0625%;   --l-y9: 21.875%;    --l-y8: 24.6875%;
  --l-y7: 27.5%;      --l-y6: 30.3125%;   --l-y5: 33.125%;    --l-y4: 35.9375%;
  --l-y3: 38.75%;     --l-y2: 41.5625%;   --l-y1: 44.375%;    --l-y0: 47.1875%;
  --l-00: 50%;
  --l-x0: 52.8125%;   --l-x1: 55.625%;    --l-x2: 58.4375%;   --l-x3: 61.25%;
  --l-x4: 64.0625%;   --l-x5: 66.875%;    --l-x6: 69.6875%;   --l-x7: 72.5%;
  --l-x8: 75.3125%;   --l-x9: 78.125%;    --l-xa: 80.9375%;   --l-xb: 83.75%;
  --l-xc: 86.5625%;   --l-xd: 89.375%;    --l-xe: 92.1875%;   --l-xf: 95%;
}

/* SCROLLBARS */
:root {
  background: hsl( var(--hs-surface), var(--l-ya));
  --header-h: 32px;
  overflow-y: scroll;
  --thumb-w:      12px;
  --color-track:  hsl(var(--hs-surface), var(--l-y9));
  --color-thumb:  hsl(var(--hs-surface), var(--l-00));
  --color-scroll-btn:  hsl(var(--hs-surface), var(--l-x4));
  --color-scroll-track:  hsl(var(--hs-surface), var(--l-x4));
}
@supports not selector(*::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--color-thumb) var(--color-track);
    scrollbar-width: var(--thumb-w);
    scroll-behavior: smooth;
  }
}
*::-webkit-scrollbar {
  width: var(--thumb-w); height: var(--thumb-w);
}
*::-webkit-scrollbar-track-piece {
  background: var(--color-track);
  // border-left:  solid 1px hsl( var(--hs-surface), var(--l-yd));
}
*::-webkit-scrollbar-thumb {
  background: var(--color-thumb);
}
*::-webkit-scrollbar-button {
  background: var(--color-scroll-btn);
  // border: solid 1px hsl(var(--hs-surface), var(--l-y6));
  height: var(--thumb-w);
}
*::-webkit-scrollbar-corner {
  background: var(--color-thumb);
}
*::-webkit-scrollbar-track {
  background: var(--color-scroll-track);
}

/* SETUP */
:root {
  accent-color: hsl( var(--hs-surface), var(--l-00) );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
header {
  background:     hsl( var(--hs-surface), var(--l-yc));
  height:         var(--header-h);
  border-bottom:  solid 1px hsl( var(--hs-surface), var(--l-yd));
  width:          100%;
  position:       fixed;
  z-index:        9999;
  top:            0;
  // padding:        4px 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items:      center;
  justify-content:  flex-end;
  // box-shadow:     0 8px 12px hsla( var(--hs-surface), var(--l-r-xf), .24);
}

main {
  color:            hsl( var(--hs-surface), var(--l-xf));
  font-size:        1.64rem;
  display:          flex;
  justify-content:  center;
  align-items:      center;
  flex-flow:        column;
  gap:              16px;
  padding:          calc(var(--header-h) + 16px) 8px 32px 8px;
  // overflow-y: scroll;
  // height: 100dvh;
}

.btn-theme {
  padding: 2px;
  display: grid;
  place-content: center;
  cursor: pointer;
  width: 96px;
  height: 100%;
  transition: all .4s ease-in-out;
  background: hsl( var(--hs-surface), var(--l-y8));
  color: hsl( var(--hs-surface), var(--l-x8));
  font-weight: 600;
  font-size: 1.4rem;
  // border: solid 1px hsl( var(--hs-surface), var(--l-y5));
  // border-radius: 2px;
  &:hover {
    background: hsl( var(--hs-surface), var(--l-yb));
  }
}

@mixin text-shadow {
  color: #FFF;
  text-shadow:
    1px   1px   1px #000a,
    -1px  -1px  1px #000a,
    -1px  1px   1px #000a,
    1px   -1px  1px #000a
  ;
}

/* COMPONENT - COLORS */
.sec-all-clrs {
  display:                grid;
  grid-template-columns:  repeat(1, 1fr);
  gap: 2px;
  @media screen and (min-width: 616px) { grid-template-columns:  repeat(3, 1fr); }
  @media screen and (min-width: 992px) { grid-template-columns:  repeat(5, 1fr); }
}

.sec-clrs {
  --sty-area-row: 4;
  // width:                  100%;
  // max-width:              360px;
  display:                grid;
  grid-template-columns:  repeat(8, 1fr);
  border: solid 1px #FFF;
  .title {
    display: grid;
    place-content: center;
    width: 100%;
    padding: 4px;
    background: hsl(var(--clr-hs, var(--hs-surface)), var(--l-00));
    border-bottom: solid 1px #FFF;
    @include text-shadow();
  }
}

.box-clr {
  @include text-shadow();
  width:      100%;
  min-width:  var(--sized-box-clr, 32px);
  height:     var(--sized-box-clr, 32px);
  background: hsl(var(--clr-hs, var(--hs-surface)), var(--clr-l, 50%));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.32rem;
  font-family: monospace;
}

